<ion-content [fullscreen]="true">
  <div class="content-wrapper">

    <div class="card-wrapper">
      <div class="card label-card">
        <div class="card-header">
          <ion-label class="card-heading">Layer auswählen</ion-label>
        </div>
        <div class="card-item wifi">
          <ion-label class="item-label">WLAN-Abdeckung</ion-label>
          <ion-checkbox></ion-checkbox>
        </div>
        <div class="card-item safety">
          <ion-label class="item-label">Safety-Score</ion-label>
          <ion-checkbox></ion-checkbox>
        </div>
        <div class="card-item traffic">
          <ion-label class="item-label">Verkehrslage</ion-label>
          <ion-checkbox></ion-checkbox>
        </div>
        <div class="card-item accessibility">
          <ion-label class="item-label">Accessibility</ion-label>
          <ion-checkbox></ion-checkbox>
        </div>
      </div>

      <div class="card stats-card">
        <div class="card-header">
          <ion-label class="card-heading">Statistiken</ion-label>
        </div>
        <div class="card-item wifi">
          <ion-label class="item-label">WLAN-Abdeckung</ion-label>
          <ion-label class="item-value">60k</ion-label>
        </div>
        <div class="card-item safety">
          <ion-label class="item-label">Safety-Score</ion-label>
          <ion-label class="item-value">16</ion-label>
        </div>
        <div class="card-item traffic">
          <ion-label class="item-label">Verkehrslage</ion-label>
          <ion-label class="item-value">zähfließend</ion-label>
        </div>
      </div>
    </div>


    <div class="header">
      <ion-label class="header-heading">Übersicht</ion-label>
      <div class="search">
        <ion-input placeholder="Nach Ort suchen..."></ion-input>
        <ion-icon name="search-outline"></ion-icon>
      </div>
    </div>

    <div class="map-wrapper">
      <!-- <agm-map [latitude]="lat" [longitude]="lng">
        <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
      </agm-map> -->
      <iframe src="https://unfallatlas.statistikportal.de/" scrolling='no' style='height:100%; width:100%;'></iframe>
    </div>
  </div>
</ion-content>