<ion-content [fullscreen]="true">
  <div class="content-wrapper">

    <div class="side-menu-wrapper">
      <div class="card label-card">
        <div class="card-header">
          <ion-label class="card-heading">Select Layers</ion-label>
        </div>
        <ion-radio-group [value]="selectedLayer" (ionChange)="selectLayer($event)">
          <div class="card-item wifi">
            <ion-label class="item-label">WLAN-Abdeckung</ion-label>
            <ion-radio value="wifi"></ion-radio>
          </div>
          <div class="card-item safety">
            <ion-label class="item-label">Verkehrssicherheit</ion-label>
            <ion-radio value="safety"></ion-radio>
          </div>
          <div class="card-item accessibility">
            <ion-label class="item-label">Verkehrsanbindung</ion-label>
            <ion-radio value="accessibility"></ion-radio>
          </div>
        </ion-radio-group>

      </div>

      <div class="card route-card">
        <div class="card-header">
          <ion-label class="card-heading">Route</ion-label>
        </div>
        <ion-input class="departure" placeholder="Enter Departure..."></ion-input>
        <ion-icon name="arrow-down-outline"></ion-icon>
        <ion-input class="arrival" placeholder="Enter Arrival..."></ion-input>
      </div>
    </div>


    <div class="header">
      <ion-label class="header-heading">Übersicht</ion-label>
      <div class="search">
        <ion-input placeholder="Nach Ort suchen..."></ion-input>
        <ion-icon name="search-outline"></ion-icon>
      </div>
    </div>

    <div class="map-wrapper" *ngIf="dataLoaded && wifiLayerActive">
      <!-- <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">
          <agm-circle *ngFor="let hotspot of hotspots"
            [latitude]="hotspot.lat"
            [longitude]="hotspot.lng"
            [circleDraggable]="false"
            fillColor="red"
            [editable]="false"
            [radius]="100"
          ></agm-circle>
      </agm-map> -->
      <div id="wifiMap" class="map"></div>
    </div>

    <div class="map-wrapper" *ngIf="dataLoaded && accessibilityLayerActive"> -->
      <!-- <agm-map #heatMapAcc [latitude]="lat" [longitude]="lng" [zoom]="zoom" (mapReady)="this.onMapLoad($event)">

      </agm-map> -->
      <!-- <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">
          <agm-circle *ngFor="let hotspot of hotspots"
            [latitude]="hotspot.lat"
            [longitude]="hotspot.lng"
            [circleDraggable]="false"
            fillColor="red"
            [editable]="false"
            [radius]="100"
          ></agm-circle> -->

          <!-- <agm-rectangle *ngFor="let rectangle of rectangleSet"
                [north]="rectangle.north"
                [east]="rectangle.east"
                [south]="rectangle.south"
                [west]="rectangle.west"
                [fillColor]="rectangle.fillColor"
                [fillOpacity]="rectangle.fillOpacity"
                [strokeColor]="rectangle.strokeColor"
                [strokeOpacity]="rectangle.strokeOpacity"
                [strokeWeight]="rectangle.strokeWeight"
          >
          </agm-rectangle> -->
      <!-- </agm-map> -->
      <div id="accessibilityMap" class="map"></div>
    </div>

    <div class="map-wrapper" *ngIf="safetyLayerActive">
      <iframe src="https://unfallatlas.statistikportal.de/?BL=DE&Jhr=2020&Beteiligung=Personenschaden&scl=144448&E=689111&N=5336664" scrolling='no' style='height:100%; width:100%;'></iframe>
    </div>

  </div>
</ion-content>
