/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique:wght@400;500;700&display=swap');

*{
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;


    --primary-100: hsl(191, 37%, 20%);
    --primary-200: hsl(191, 37%, 15%);
    --primary-300: hsl(191, 37%, 10%);
    --color-wifi: rgb(0, 191, 255);
    --color-safety: hsl(0, 79%, 63%);
    --color-traffic: hsl(28, 87%, 62%);
    --color-accessibility: hsl(146, 64%, 36%);
    --color-air: hsl(271, 70%, 60%);
    --color-poi: rgb(241, 183, 75);

    --text-primary: white;
    --text-inverted: black;
    --text-accent: hsla(232, 75%, 59%, 1);

    --size-xlarge: 1.5rem;
    --size-large: 1.25rem;
    --size-normal: 0.875rem;
    --size-small: 0.75rem;

    --shadow: 5px 5px 15px rgba(0, 0, 0, 0.25);
}

ion-label{
    color: var(--text-primary);
    font-size: var(--size-normal);
}
